@model Presentation.Models.PathVM

@{
    ViewBag.Title = "Path'treatments";
    Layout = "~/Views/Shared/Doctor/_Layout.cshtml";
}


<h2>Edit</h2>

<div class="main-content">

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title">Basic example</h4>
    
                  Path Description :   @ViewBag.Message



                    <div class="body table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>desc</th>


                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var p in @ViewBag.result)
                                {
                                    <tr>
                                        <th scope="row">@p.id</th>
                                        <td>@p.description</td>

                                       




                                    </tr>

                                }



                            </tbody>
                           
                        </table>
                        @Html.ActionLink("add treatment", "AddTreatment", new { iddd = ViewBag.PathId })

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2> DEFAULT EXAMPLE <small>Drag & drop hierarchical list with mouse and touch compatibility</small> </h2>
                <ul class="header-dropdown">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="clearfix m-b-20">
                    <div class="dd ">
                        <ol class="dd-list">
                            
                            <li class="dd-item" data-id="@ViewBag.PathId">
                                <div class="dd-handle">Path :  @ViewBag.Message</div>
                                <ol class="dd-list nestable-dark-theme">
                                  @foreach (var p in @ViewBag.result)
                                  {
                                   
                                        <li class="dd-item" data-id="@p.id">
                                            <div class="dd-handle">@p.description</div>

                                        </li>

                                    


                                  }
                                  
                                    </ol>
                                </li>
                                    
                        </ol>
                    </div>
                </div>
                <b>Output JSON</b>
                <textarea cols="30" rows="3" name="js" class="form-control no-resize" readonly></textarea>
            </div>
           
        </div>
    </div>
   
    <!-- #END# Default Example --> 
</div>


@section NesTable
{
    @Scripts.Render("~/Scripts/Swift-js/js/pages/jquery.nestable.js")
    @Scripts.Render("~/Scripts/Swift-js/js/pages/sortable-nestable.js")
}












