@model Presentation.Models.AppointmentVM

@{
    ViewBag.Title = "Edit";
}
<script src="../../Scripts/Medikal-js/bootstrap-datetimepicker.js"></script>
<link href="../../Content/Medikal-css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="../../Scripts/Medikal-js/bootstrap.min.js"></script>
<link href="../../Content/Medikal-css/bootstrap-theme.min.css" rel="stylesheet" />
<section id="Appoinment" data-bg-img="../Content/images/pattern/p4.png">
    <div class="container pt-50 pb-0">
        <div class="row">
            <div class="col-md-6">
                <div class="p-10">
                    <h2 class="mt-0 line-bottom line-height-1 text-black mb-30">Update <span class="text-theme-colored font-weight-600"> Appointment</span></h2>


                    @using (Html.BeginForm("Edit", "Appointment", FormMethod.Post, new { @class = "reservation-form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group mb-30">

                                    @Html.HiddenFor(m => m.doctor_id, htmlAttributes: new { id = "idD", @class = "", @placeholder = @ViewBag.doctorid })

                                    @Html.HiddenFor(m => m.id, htmlAttributes: new { id = "idA", @class = "" })


                                    @Html.TextBoxFor(m => m.doctor.name, htmlAttributes: new { name = "name", @class = "form-control", @disabled = "disabled", @placeholder = @ViewBag.doctorname1, @style = "background:white; width:529px;" })
                                    @*@Html.DropDownListFor(m => m.r,m => m.re, "-- Select a speciality --")*@
                                    @* <input style="width:529px" placeholder="Enter Name" type="text" id="reservation_name" name="reservation_name" required="" class="form-control">*@
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <div class="styled-select">
                                        @Html.DropDownList("reason_id", (SelectList)ViewData["reason"], "-- SELECT REASON --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    @* <input name="reservation_date" class="form-control required date-picker" type="text" placeholder="Reservation Date" aria-required="true">*@
                                    @Html.TextBoxFor(m => m.date_start, htmlAttributes: new { @class = "datepicker" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group mb-30">
                                    @*  <textarea style="width:529px" id="form_message" name="form_message" class="form-control required" placeholder="Enter Message" rows="5" aria-required="true"></textarea>*@
                                    @Html.TextAreaFor(m => m.message, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Message", @style = "background:white; width:529px;" })


                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group mb-0 mt-0">
                                    <input name="form_botcheck" class="form-control" type="hidden" value="">
                                    @* <button type="submit" class="btn btn-theme-colored btn-lg btn-block" data-loading-text="Please wait...">Submit Now</button>*@
                                    <button type="submit" class="btn btn-dark btn-theme-colored" onclick="afficherMsg(@ViewBag.result)" data-loading-text="Please wait...">Update Appointment</button>

                                </div>
                            </div>
                        </div>


                    }


                </div>
            </div>
            <div class="col-md-6">
                <img src="../Content/images/gallery/h3.jpg" alt="">
            </div>

        </div>
    </div>
</section>

<script>
    function afficheMsg(msg) {alert (msg); }
var disabledtimes_mapping = ["11/24/2018:8", "11/24/2018:17", "11/26/2018:15:30"];
function affiche(){
var date = $(".datepicker").data("datetimepicker").getDate(),
    formatted = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours()+ ":" + date.getMinutes();

}

function formatDate(datestr)
{
    var date = new Date(datestr);
    var day = date.getDate(); day = day>9?day:"0"+day;
    var month = date.getMonth()+1; month = month>9?month:"0"+month;
    return month+"/"+day+"/"+date.getFullYear();

}

$(".datepicker").datetimepicker({
timeFormat: 'HH:mm:ss',
     allowTimes: ['09:00', '10:00', '11:00'],
    maxTime:'09:00',
    datesDisabled: ['2018-11-20'],
hoursDisabled:['0','1','2','3','4','5','6','7','19','20','21','22','23'],
    stepMinute: 15,
    autoclose: true,


    onRenderHour:function(date){

  if(disabledtimes_mapping.indexOf(formatDate(date)+":"+date.getUTCHours())>-1)
    {
        return ['disabled'];
    }
    }
});
</script>


                    @*<center>
                                <div class="form-horizontal">

                                   <section id="Appoinment" data-bg-img="images/pattern/p4.png">
                              <div class="container pt-50 pb-0">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="p-10">






                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.id)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.date_end, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.date_end, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.date_end, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.date_start, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.date_start, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.date_start, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.message, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.stat, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.stat, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.stat, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.doctor_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.doctor_id, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.doctor_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.patient_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.patient_id, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.patient_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.reason_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.reason_id, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.reason_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </center>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>*@
